:root {
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);
  --clr-orange: #e28b55;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--clr-grey-900);
  color: var(--clr-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.profile-card {
  background-color: var(--clr-grey-800);
  width: 100%;
  max-width: 420px;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
}

.profile-card_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-card_name {
  font-weight: 700;
}

.profile-card_region {
  font-weight: 600;
  color: var(--clr-orange);
  margin: -5px 0px 35px 0;
}

.profile-card_description {
  font-weight: 400;
  margin-bottom: 25px;
  color: #f2efe9;
}

.profile-card_social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
}

.profile-card_social-links a {
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-grey-700);
  padding: 15px 0;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.profile-card_social-links a:hover {
  background-color: var(--clr-orange);
  transform: scale(1.05);
  box-shadow: 0px 0px 10px var(--clr-orange);
  color: var(--clr-grey-900);
}

.attribution {
  width: 100%;
  margin-top: auto;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; 
}

.attribution a {
  color: var(--clr-orange);
  text-decoration: none;
}

@media (max-width: 768px) {

    .profile-card {
        margin-top: 10px;
    }

    main {
        flex: unset;
        padding: 20px 16px;
        box-sizing: border-box;
    }

    .attribution {
        margin-top: 20px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}
